<footer class="footer3">

	<div class="footer-middle">
		<div class="container">
			<div class="row">


				<div class="col-md-6 col-sm-6">                         
					
				</div>        


				<div class="col-md-3 col-sm-6">                         
					<div class="footer-column pull-left">
						<aside id="text-4" class="widget widget_text"><h4>Information</h4>			<div class="textwidget"><ul class="links">
							<li><a href="#" title="Site Map">Site Map</a></li>
							<li><a href="#" title="Search Terms">Search Terms</a></li>
							<li><a href="#" title="Advanced Search">Advanced Search</a></li>
							<li><a href="#" title="About Us">About Us</a></li>
							<li><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="Suppliers">Suppliers</a></li>
						</ul></div>
					</aside>                    </div>   
				</div>       


				<div class="col-md-3 col-sm-6">
					<div class="footer-column pull-left">
						<aside id="text-3" class="widget widget_text"><h4>contact us</h4>			<div class="textwidget">
							<div class="contacts-info">
								<address>
									<i class="add-icon">&nbsp;</i>123 Main Street, Anytown, <br>
									&nbsp;CA 12345  USA
								</address>
								<div class="phone-footer"><i class="phone-icon">&nbsp;</i> +1 800 123 1234</div>
								<div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:support@magikcommerce.com">admin@juragancode.com</a> </div>
							</div></div>
						</aside> 
					</div>
				</div>                           


			</div>
		</div>
	</div>

	

	<div class="footer-bottom"> 

		<div class="brand-logo">
			<div class="container">
				<div class="row">
					<hr class="footer-hr">
					<ul class="cdb-social-links">
						<li><a href="" target="_blank" class="Twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>

						<li><a href="" target="_blank" class="Instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>

						<li><a href="" target="_blank" class="YouTube" title="YouTube"><i class="fa fa-facebook-square"></i></a></li>
					</ul>

					<div class="coppyright" ><img src="https://www.helpscout.com/images/footer/made-by.png" alt="scribble" class="img-hand" width="50"><b>Made by hand in Kediri.</b>
						© {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>.</div>

					</div>
				</div>
			</div>
		</div>
	</footer>